body{
    margin: 0;
    padding: 0;
    background-color: #FDF0E2;
}


nav{
    height: 133px;
    padding: 48px 160px 48px 160px;
}
.nav-lin-st{
    font-size: 16px;
    color: black;
      text-transform: uppercase;

}
.active-st{
    background-color: #00C0ED;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 90%
  );
}

.head-h1{
    color: black;
    font: sink;
    font-weight: 800;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 60px;
    line-height: 100%;
      text-transform: uppercase;
}
.pinable-img{
    width: 150%;
    transform: rotate(-20deg);
    display: block;
    margin-right: 70px !important;
    top: -100px;
    position: relative;
    /* top: 109px !important; */
    /* position: fixed; */
    left: -70px !important;

}
.pinable-div .pinable-img {
    /* top: 130px !important; */
}
.pinable-div-right .pinable-img {
    right: 0;
}


.maho-img{
    width: 140%;
    transform: rotate(-20deg);
    display: block;
    /* margin-left: 70px !important; */
    /* top: 109px !important; */
    position: absolute;
  overflow: hidden; /* to prevent any part from causing scroll */

    /* position: fixed; */
}
.maho2-img
{
    width: 100%;
    transform: rotate(20deg);
}
/* .maho-div-right .maho-img {
    right: -37px;
    top: 250px !important;
} */
 .maho-div-right{
      position: relative;
  width: 100%;
  overflow: hidden;
 }
.maho2-div .maho2-img {
    /* left: -30%  !important; */
    top: 260px !important;
}
.maho2-div .maho2-img {
    right: 0;
}
.cans-div{
    display: flex;
    justify-content: center;

}
.col-cans{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 70px;


}
.cans1 img,  .cans3 img{
    width: 165%;
}
.cans2 img{
    width: 175%;
}

.cans1 .cans1-img{
    position: relative;
    left: 70% !important;
        z-index: 1;

}
.cans3 .cans3-img{
    position: relative;
    left: -62% !important;
        z-index: 1;

}
.cans2 .cans2-img{ 
    position: relative;
    z-index: 11;

}
.cans-background{
    position: relative;
    display: flex;
    left: 5%;
    margin-top: 40px;
}
.maho-liga{
    margin-top: 270px;
}
.explore-div{
    margin-top: 190px;
}
.text-ex-div p {
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: right;

}

main {
    margin-top: 100px;
}